<a href="https://colab.research.google.com/github/ss0610/NoLimitCpp/blob/main/Optimization_Algorithms_(flight_schedule).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Optimization Algorithms - flight schedule

## Representing the problem

In [ ]:
people = [('Lisbon', 'LIS'),
          ('Madrid', 'MAD'),
          ('Paris', 'CDG'),
          ('Dublin', 'DUB'),
          ('Brussels', 'BRU'),
          ('London', 'LHR')]

In [ ]:
people[3]

('Dublin', 'DUB')

In [ ]:
destiny = 'FCO' # Rome

In [ ]:
flights = {('BRU', 'FCO'): ['15:44', '18:55', 382]}

In [ ]:
flights

{('BRU', 'FCO'): ['15:44', '18:55', 382]}

In [ ]:
flights[('BRU', 'FCO')]

['15:44', '18:55', 382]

In [ ]:
flights[('BRU', 'FCO')][0], flights[('BRU', 'FCO')][1], flights[('BRU', 'FCO')][2]

('15:44', '18:55', 382)

In [ ]:
flights = {}
for row in open('/content/flights.txt'):
  #print(row)
  #print(row.split(','))
  origin, destination, depart, arrival, price = row.split(',')
  #print(origin, destination, depart, arrival, price)
  flights.setdefault((origin, destination), [])
  flights[(origin, destination)].append((depart, arrival, int(price)))

In [ ]:
flights

{('FCO', 'LIS'): [('6:19', '8:13', 239),
  ('8:04', '10:59', 136),
  ('9:31', '11:43', 210),
  ('11:07', '13:24', 171),
  ('12:31', '14:02', 234),
  ('14:05', '15:47', 226),
  ('15:07', '17:21', 129),
  ('16:35', '18:56', 144),
  ('18:25', '20:34', 205),
  ('20:05', '21:44', 172)],
 ('LIS', 'FCO'): [('6:11', '8:31', 249),
  ('7:39', '10:24', 219),
  ('9:15', '12:03', 99),
  ('11:08', '13:07', 175),
  ('12:18', '14:56', 172),
  ('13:37', '15:08', 250),
  ('15:03', '16:42', 135),
  ('16:51', '19:09', 147),
  ('18:12', '20:17', 242),
  ('20:05', '22:06', 261)],
 ('FCO', 'MAD'): [('6:03', '8:43', 219),
  ('7:50', '10:08', 164),
  ('9:11', '10:42', 172),
  ('10:33', '13:11', 132),
  ('12:08', '14:47', 231),
  ('14:19', '17:09', 190),
  ('15:04', '17:23', 189),
  ('17:06', '20:00', 95),
  ('18:33', '20:22', 143),
  ('19:32', '21:25', 160)],
 ('MAD', 'FCO'): [('6:05', '8:32', 174),
  ('8:25', '10:34', 157),
  ('9:42', '11:32', 169),
  ('11:01', '12:39', 260),
  ('12:44', '14:17', 134),
  ('14:22', '16:32', 126),
  ('15:58', '18:40', 173),
  ('16:43', '19:00', 246),
  ('18:48', '21:45', 246),
  ('19:50', '22:24', 269)],
 ('FCO', 'CDG'): [('6:33', '9:14', 172),
  ('8:23', '11:07', 143),
  ('9:25', '12:46', 295),
  ('11:08', '14:38', 262),
  ('12:37', '15:05', 170),
  ('14:08', '16:09', 232),
  ('15:23', '18:49', 150),
  ('16:50', '19:26', 304),
  ('18:07', '21:30', 355),
  ('20:27', '23:42', 169)],
 ('CDG', 'FCO'): [('6:25', '9:30', 335),
  ('7:34', '9:40', 324),
  ('9:15', '12:29', 225),
  ('11:28', '14:40', 248),
  ('12:05', '15:30', 330),
  ('14:01', '17:24', 338),
  ('15:34', '18:11', 326),
  ('17:07', '20:04', 291),
  ('18:23', '21:35', 134),
  ('19:53', '22:21', 173)],
 ('FCO', 'DUB'): [('6:39', '8:09', 86),
  ('8:23', '10:28', 149),
  ('9:58', '11:18', 130),
  ('10:33', '12:03', 74),
  ('12:08', '14:05', 142),
  ('13:39', '15:30', 74),
  ('15:25', '16:58', 62),
  ('17:03', '18:03', 103),
  ('18:24', '20:49', 124),
  ('19:58', '21:23', 142)],
 ('DUB', 'FCO'): [('6:17', '8:26', 89),
  ('8:04', '10:11', 95),
  ('9:45', '11:50', 172),
  ('11:16', '13:29', 83),
  ('12:34', '15:02', 109),
  ('13:40', '15:37', 138),
  ('15:27', '17:18', 151),
  ('17:11', '18:30', 108),
  ('18:34', '19:36', 136),
  ('20:17', '22:22', 102)],
 ('FCO', 'BRU'): [('6:09', '9:49', 414),
  ('7:57', '11:15', 347),
  ('9:49', '13:51', 229),
  ('10:51', '14:16', 256),
  ('12:20', '16:34', 500),
  ('14:20', '17:32', 332),
  ('15:49', '20:10', 497),
  ('17:14', '20:59', 277),
  ('18:44', '22:42', 351),
  ('19:57', '23:15', 512)],
 ('BRU', 'FCO'): [('6:12', '10:22', 230),
  ('7:53', '11:37', 433),
  ('9:08', '12:12', 364),
  ('10:30', '14:57', 290),
  ('12:19', '15:25', 342),
  ('13:54', '18:02', 294),
  ('15:44', '18:55', 382),
  ('16:52', '20:48', 448),
  ('18:26', '21:29', 464),
  ('20:07', '23:27', 473)],
 ('FCO', 'LHR'): [('6:58', '9:01', 238),
  ('8:19', '11:16', 122),
  ('9:58', '12:56', 249),
  ('10:32', '13:16', 139),
  ('12:01', '13:41', 267),
  ('13:37', '15:33', 142),
  ('15:50', '18:45', 243),
  ('16:33', '18:15', 253),
  ('18:17', '21:04', 259),
  ('19:46', '21:45', 214)],
 ('LHR', 'FCO'): [('6:08', '8:06', 224),
  ('8:27', '10:45', 139),
  ('9:15', '12:14', 247),
  ('10:53', '13:36', 189),
  ('12:08', '14:59', 149),
  ('13:40', '15:38', 137),
  ('15:23', '17:25', 232),
  ('17:08', '19:08', 262),
  ('18:35', '20:28', 204),
  ('20:30', '23:11', 114)]}

In [ ]:
flights[('LIS', 'FCO')]

[('6:11', '8:31', 249),
 ('7:39', '10:24', 219),
 ('9:15', '12:03', 99),
 ('11:08', '13:07', 175),
 ('12:18', '14:56', 172),
 ('13:37', '15:08', 250),
 ('15:03', '16:42', 135),
 ('16:51', '19:09', 147),
 ('18:12', '20:17', 242),
 ('20:05', '22:06', 261)]

In [ ]:
flights[('FCO', 'LIS')]

[('6:19', '8:13', 239),
 ('8:04', '10:59', 136),
 ('9:31', '11:43', 210),
 ('11:07', '13:24', 171),
 ('12:31', '14:02', 234),
 ('14:05', '15:47', 226),
 ('15:07', '17:21', 129),
 ('16:35', '18:56', 144),
 ('18:25', '20:34', 205),
 ('20:05', '21:44', 172)]

In [ ]:
flights[('MAD', 'FCO')]

[('6:05', '8:32', 174),
 ('8:25', '10:34', 157),
 ('9:42', '11:32', 169),
 ('11:01', '12:39', 260),
 ('12:44', '14:17', 134),
 ('14:22', '16:32', 126),
 ('15:58', '18:40', 173),
 ('16:43', '19:00', 246),
 ('18:48', '21:45', 246),
 ('19:50', '22:24', 269)]

In [ ]:
flights[('FCO', 'MAD')]

[('6:03', '8:43', 219),
 ('7:50', '10:08', 164),
 ('9:11', '10:42', 172),
 ('10:33', '13:11', 132),
 ('12:08', '14:47', 231),
 ('14:19', '17:09', 190),
 ('15:04', '17:23', 189),
 ('17:06', '20:00', 95),
 ('18:33', '20:22', 143),
 ('19:32', '21:25', 160)]

In [ ]:
schedule = [0,2, 3,2, 5,3, 6,3, 1,4, 5,3]
len(schedule)

12

In [ ]:
len(schedule) // 2

6

In [ ]:
def print_schedule(schedule):
  flight_id = -1
  total_price = 0
  for i in range(len(schedule) // 2):
    name = people[i][0]
    origin = people[i][1]
    flight_id += 1
    go = flights[(origin, destiny)][schedule[flight_id]]
    total_price += go[2]
    flight_id += 1
    ret = flights[(destiny, origin)][schedule[flight_id]]
    total_price += ret[2]

    print('%10s%10s %5s-%5s %3s %5s-%5s %3s' % (name, origin, go[0], go[1], go[2],
                                                ret[0], ret[1], ret[2]))


    #print(name, origin, go)
  print('Total price: ', total_price)

In [ ]:
print_schedule(schedule)

    Lisbon       LIS  6:11- 8:31 249  9:31-11:43 210
    Madrid       MAD 11:01-12:39 260  9:11-10:42 172
     Paris       CDG 14:01-17:24 338 11:08-14:38 262
    Dublin       DUB 15:27-17:18 151 10:33-12:03  74
  Brussels       BRU  7:53-11:37 433 12:20-16:34 500
    London       LHR 13:40-15:38 137 10:32-13:16 139
Total price:  2925

In [ ]:
10**12

1000000000000

## Fitness function

In [ ]:
def fitness_function(schedule):
  flight_id = -1
  total_price = 0
  for i in range(len(schedule) // 2):
    name = people[i][0]
    origin = people[i][1]
    flight_id += 1
    go = flights[(origin, destiny)][schedule[flight_id]]
    total_price += go[2]
    flight_id += 1
    ret = flights[(destiny, origin)][schedule[flight_id]]
    total_price += ret[2]

  return total_price

In [ ]:
schedule = [1,7, 3,1, 1,1, 6,3, 2,4, 5,3]
fitness_function(schedule)

2619

In [ ]:
# UPDATE JUNE/2024
# !pip install mlrose
!git clone https://github.com/gkhayes/mlrose.git
!pip install mlrose/.

fatal: destination path 'mlrose' already exists and is not an empty directory.
Processing ./mlrose
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from mlrose==1.3.0) (1.25.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from mlrose==1.3.0) (1.11.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from mlrose==1.3.0) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->mlrose==1.3.0) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->mlrose==1.3.0) (3.5.0)
Building wheels for collected packages: mlrose
  Building wheel for mlrose (setup.py) ... done
  Created wheel for mlrose: filename=mlrose-1.3.0-py3-none-any.whl size=27710 sha256=12f853f6370bec17812f8effdb5d7c08e73cd911b9c060ecf05b532ec3be1a8c
  Stored in directory: /tmp/pip-ephem-wheel-cache-b17it3te/wheels/50/ac/56/a248001dcf63344fbef992039dec2613cb4a7c56222c6f9a92
Successfully built mlrose
Installing collected packages: mlrose
  Attempting uninstall: mlrose
    Found existing installation: mlrose 1.3.0
    Uninstalling mlrose-1.3.0:
      Successfully uninstalled mlrose-1.3.0
Successfully installed mlrose-1.3.0

In [ ]:
import six
import sys
sys.modules['sklearn.externals.six'] = six
import mlrose

In [ ]:
fitness = mlrose.CustomFitness(fitness_function)

In [ ]:
problem = mlrose.DiscreteOpt(length = 12, fitness_fn=fitness,
                             maximize = False, max_val = 10) # 0 - 9

## Hill climb

In [ ]:
best_solution, best_price = mlrose.hill_climb(problem)
best_solution, best_price

(array([2, 6, 5, 7, 8, 1, 3, 6, 0, 2, 9, 1]), 1566.0)

In [ ]:
print_schedule(best_solution)

    Lisbon       LIS  9:15-12:03  99 15:07-17:21 129
    Madrid       MAD 14:22-16:32 126 17:06-20:00  95
     Paris       CDG 18:23-21:35 134  8:23-11:07 143
    Dublin       DUB 11:16-13:29  83 15:25-16:58  62
  Brussels       BRU  6:12-10:22 230  9:49-13:51 229
    London       LHR 20:30-23:11 114  8:19-11:16 122
Total price:  1566

In [ ]:
flights[('BRU', 'FCO')]

[('6:12', '10:22', 230),
 ('7:53', '11:37', 433),
 ('9:08', '12:12', 364),
 ('10:30', '14:57', 290),
 ('12:19', '15:25', 342),
 ('13:54', '18:02', 294),
 ('15:44', '18:55', 382),
 ('16:52', '20:48', 448),
 ('18:26', '21:29', 464),
 ('20:07', '23:27', 473)]

## Simulated annealing

In [ ]:
best_solution, best_price = mlrose.simulated_annealing(problem,
                                                       schedule=mlrose.GeomDecay(init_temp=1.0),
                                                       max_attempts=100)
best_solution, best_price

(array([2, 1, 5, 7, 8, 1, 3, 6, 0, 2, 9, 1]), 1573.0)

In [ ]:
print_schedule(best_solution)

    Lisbon       LIS  9:15-12:03  99  8:04-10:59 136
    Madrid       MAD 14:22-16:32 126 17:06-20:00  95
     Paris       CDG 18:23-21:35 134  8:23-11:07 143
    Dublin       DUB 11:16-13:29  83 15:25-16:58  62
  Brussels       BRU  6:12-10:22 230  9:49-13:51 229
    London       LHR 20:30-23:11 114  8:19-11:16 122
Total price:  1573

## Genetic algorithm

In [ ]:
best_solution, best_price = mlrose.genetic_alg(problem, pop_size=500, mutation_prob=0.1,
                                               max_attempts=100)
best_solution, best_price

(array([2, 6, 4, 9, 8, 1, 0, 5, 0, 3, 3, 1]), 1759.0)

In [ ]:
print_schedule(best_solution)

    Lisbon       LIS  9:15-12:03  99 15:07-17:21 129
    Madrid       MAD 12:44-14:17 134 19:32-21:25 160
     Paris       CDG 18:23-21:35 134  8:23-11:07 143
    Dublin       DUB  6:17- 8:26  89 13:39-15:30  74
  Brussels       BRU  6:12-10:22 230 10:51-14:16 256
    London       LHR 10:53-13:36 189  8:19-11:16 122
Total price:  1759